
{% extends "layouts/_default.twig" %}
{% block main_content %}
    <h1> <a  href="/quizzes/">Quizzes </a> </h1>
    |
    <h1> <a href="/choices"> Choices </a> </h1>
    |
    <h1> <a href="/questions"> Questions </a> </h1>
{% endblock %}
