{% extends 'layouts/_default.twig'  %}

{% block main_content %}
    <a href="https://github.com/login/oauth/authorize?client_id=e6e3ad17f46dd71c1fc4">
        Login with github
    </a>
{% endblock %}